body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: whitesmoke;
    color: #f28c0f;
}

.h1 {
    font: bold;
    font-size: xx-large;
}

.container {
    background-color: #12172b;
}

.logo {
    max-width: 100%;
    height: auto;
}

.button {
    cursor: pointer;
    border-style: solid;
    border-radius: 5px;
    height: 8vh;
}

.button-main {
    background-color: #f28c0f;
    color: #12172b;
}

.button-second {
    background-color: whitesmoke;
    border-color: #f28c0f;
    color: #12172b;
}

.empty {
    height: 5vh;
}


/* .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
    color: #be1b64;
    font-size: 1.5vw;
    font-weight: bold;
}

.phone-login-container {
    background-color: whitesmoke;
    display: flex;
    margin: 40px auto;
    justify-content: space-evenly;
    flex-direction: column;
    width: 40vh;
    height: 80vh;
    border-radius: 3vw;
    box-shadow: 0px 0px 0px 1vw #1f1f1f, 0px 0px 0px 1vw #191919, 0px 0px 0px 1vw #111;
}

.phone-login-input-item {
    width: 15vw;
    height: 1.5vw;
    margin-bottom: 1vh;
    font-size: 1vw;
    border-radius: 5px;
}

.phone-login-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone-login-button-container {
    display: flex;
    flex-direction: column;
} */