.mdl-layout__tab-bar-container {
  height: 64px;
}

.mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  background-color: white;
  height: 4px;
}

.mdl-layout__tab-bar .mdl-layout__tab {
  height: 64px;
  line-height: 64px;
}

.mdl-grid {

  justify-content: center;

}


.mdl-cell {

  /* background-color: red; */
  
}

.mdl-card {

  width: 100%;

}

.orange {

  color: orange;

  background-color: red;

}

.center-text {

  text-align: center;

}

.profile {

  font-size: 200px;

  background-color: orange;

  border-radius: 50%;

}


#first-page {

  justify-content: left;

}